<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission Success</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Thank You for Submitting!</h1>
        <h2>Submitted Details:</h2>
        <ul>
            <li>
                <strong>Email:</strong> {{ email }} <br>
                <strong>School ID:</strong> {{ school_id }} <br>
                <strong>Schedule From:</strong> {{ schedule_from }} <br>
                <strong>Schedule To:</strong> {{ schedule_to }} <br>
                <strong>Schedule Time From:</strong> {{ start_time }} <br> 
                <strong>Schedule Time To:</strong> {{ end_time }} <br>                       
            </li>

        </ul>

        <a href="/submit_schedule"><button>Submit again</button></a>
        <a href="/dashboard"><button>Go to dashboard</button></a>

    </div>
</body>
</html>

